<p class="text-uppercase center"><strong>Progreso de respuestas</strong></p>
<div class="progress">
  <div class="progress-bar background-color-primary"
       role="progressbar"
       aria-valuenow="<%= progress %>"
       aria-valuemin="0" aria-valuemax="100"
       style="width: <%= progress %>%;">
    <span class="sr-only"><%= progress %>% Lleno</span>
  </div>
</div>
