/* line 1, /pms/app/assets/stylesheets/home.scss */
.home {
  position: relative;
}

/* line 5, /pms/app/assets/stylesheets/home.scss */
.start {
  padding: 5em 0;
  text-align: center;
  background-color: #f58531;
}

/* line 11, /pms/app/assets/stylesheets/home.scss */
.start__title {
  font-size: 3em;
  font-weight: 600;
  color: white;
}

/* line 17, /pms/app/assets/stylesheets/home.scss */
.start__button {
  background-color: white;
  border-radius: 15px;
  margin-top: 1.5em;
  font-size: 2em;
  font-weight: 800;
  color: #f58531;
  padding: 0.4em 2em;
}
/* line 26, /pms/app/assets/stylesheets/home.scss */
.start__button:hover {
  color: #f47719;
}

/* line 31, /pms/app/assets/stylesheets/home.scss */
.start__age {
  display: initial;
  width: 20%;
  border: 0 !important;
  margin-top: .75rem;
}

/* line 1, /pms/app/assets/stylesheets/simulator/education.scss */
.education-achievement {
  text-align: center;
  color: #145861;
}
/* line 5, /pms/app/assets/stylesheets/simulator/education.scss */
.education-achievement img {
  width: 75%;
  height: auto;
  margin-top: -3vw;
}

/* line 12, /pms/app/assets/stylesheets/simulator/education.scss */
.education-achievement__text {
  padding: 1.5em;
  font-size: 2em;
}

/* line 17, /pms/app/assets/stylesheets/simulator/education.scss */
.education-achievement__title {
  font-size: 1.8em;
  margin: 1.5em 0 1em 0;
  text-transform: uppercase;
}

/* line 23, /pms/app/assets/stylesheets/simulator/education.scss */
.education-achievement__kpi {
  position: relative;
  top: 10vw;
  font-size: 2.5vw;
  font-weight: 600;
  color: white;
}

/* line 31, /pms/app/assets/stylesheets/simulator/education.scss */
.education-select {
  color: white;
  font-size: 0.8em;
  margin: 0 1em;
  padding: 0.2em 1.4em 0.2em 0.8em;
  min-width: 8em;
  border-radius: 12px !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-color: #f58531;
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
/* line 47, /pms/app/assets/stylesheets/simulator/education.scss */
.education-select::-ms-expand {
  display: none;
}
/* line 51, /pms/app/assets/stylesheets/simulator/education.scss */
.education-select:hover {
  border-color: #888;
}
/* line 55, /pms/app/assets/stylesheets/simulator/education.scss */
.education-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

/* line 63, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison {
  padding: 2em 0;
  margin-bottom: -27vw;
}

/* line 68, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison__paragraph {
  margin: 0 0 1.3em 1em;
  color: #007071;
  font-size: 1.7em;
  font-weight: 700;
}

/* line 75, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison__image {
  position: relative;
  z-index: 100;
  top: -27vw;
}
/* line 80, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison__image img {
  width: 100%;
  height: auto;
}

/* line 86, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison__row {
  height: 6.5vw;
  background-color: #f3f8f9;
  padding: 1.4vw;
  margin-bottom: 2.5vw;
  position: relative;
}

/* line 94, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison__text {
  font-size: 1.1vw;
  font-weight: 600;
  text-align: right;
  position: absolute;
}

/* line 101, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison__text--high {
  margin-left: 23vw;
}

/* line 105, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison__text--medium {
  margin-left: 15vw;
}

/* line 109, /pms/app/assets/stylesheets/simulator/education.scss */
.education-comparison__text--low {
  margin-left: 7vw;
}

/* line 1, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish {
  color: #ffffff;
  font-size: 1.1em;
  text-transform: uppercase;
}

/* line 7, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish__footer {
  justify-content: center;
}

/* line 11, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish__icon {
  padding-top: 0.2rem;
  height: 2.7em;
  width: auto;
}

/* line 17, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish__row {
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  margin-bottom: 5px;
}

/* line 24, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish__row--bottom {
  margin-bottom: 0;
}

/* line 28, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish__col {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

/* line 34, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish__col--kpi {
  font-weight: 600;
  font-size: 1.3em;
  color: #000000;
  background-color: #ffffff;
  padding: 5px;
}

/* line 42, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish__text {
  color: #000000;
  text-transform: none;
}

/* line 47, /pms/app/assets/stylesheets/simulator/finish.scss */
.finish__share-buttons {
  text-align: center;
  margin-bottom: 10px;
}

/* line 1, /pms/app/assets/stylesheets/simulator/main.scss */
.highlight {
  font-weight: 700;
  color: #f58531;
}

/* line 6, /pms/app/assets/stylesheets/simulator/main.scss */
.finish-button {
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: white;
  text-align: center;
}

/* line 13, /pms/app/assets/stylesheets/simulator/main.scss */
.start-over {
  padding-bottom: 3em;
  text-align: center;
}

/* line 18, /pms/app/assets/stylesheets/simulator/main.scss */
.references {
  padding: 1em 0;
  font-size: 1em;
  font-weight: 400;
  color: black;
  background-color: #eeeeee;
  text-align: center;
  line-height: 1.3em;
}

/* line 2, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider img {
  margin-top: 1em;
  max-width: 100%;
  max-height: 100%;
}

/* line 9, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__refresh {
  margin-bottom: -35px;
  margin-left: 1.5em;
}
/* line 13, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__refresh img {
  width: 1.5em;
  height: auto;
  cursor: pointer;
}

/* line 20, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__text {
  margin-top: 2em;
  margin-bottom: -.7em;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}

/* line 28, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__labels {
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  margin-bottom: 35px;
}
/* line 34, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__labels div > div {
  position: absolute;
}

/* line 39, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__labels-pos1 {
  left: 2.9vw;
}

/* line 43, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__labels-pos2 {
  left: 13.8vw;
}

/* line 47, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__labels-pos3 {
  left: 25vw;
}

/* line 51, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__labels-pos4 {
  left: 36.7vw;
}

/* line 55, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__labels-pos5 {
  left: 48.7vw;
}

/* line 59, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__track {
  padding: 20px 0;
}

/* line 63, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__section {
  height: 12px;
  padding: 0;
  background-color: #cdcbd8;
  cursor: pointer;
}

/* line 70, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__section--left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 75, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__section--right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 80, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__section--disabled {
  cursor: default;
  background-color: #f58531;
}

/* line 85, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__section--selected {
  background-color: #f58531;
}

/* line 89, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__thumb {
  position: absolute;
  right: -1px;
  height: 24px;
  background-color: #f58531;
  width: 24px;
  margin-top: -6px;
  border-radius: 50%;
  z-index: 1;
}

/* line 100, /pms/app/assets/stylesheets/simulator/slider.scss */
.slider__thumb--left {
  left: 0;
}

/* line 1, /pms/app/assets/stylesheets/simulator/work.scss */
.work-participation {
  color: #007071;
}
/* line 4, /pms/app/assets/stylesheets/simulator/work.scss */
.work-participation img {
  height: 100%;
  width: auto;
  position: absolute;
  z-index: -1;
}

/* line 12, /pms/app/assets/stylesheets/simulator/work.scss */
.work-participation__text {
  color: black;
  padding: 1em 1.5em 0;
  font-size: 1.8em;
  text-align: center;
}

/* line 19, /pms/app/assets/stylesheets/simulator/work.scss */
.work-participation__divider {
  padding: 0 2.7em;
}

/* line 23, /pms/app/assets/stylesheets/simulator/work.scss */
.work-participation__chart {
  position: relative;
  color: #145861;
  margin-bottom: 2em;
}

/* line 29, /pms/app/assets/stylesheets/simulator/work.scss */
.work-participation__chart-footer {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  padding: 0.5em 0;
  text-transform: uppercase;
}

/* line 37, /pms/app/assets/stylesheets/simulator/work.scss */
.work-participation__kpi {
  font-size: 3.5em;
  margin-top: 1.4em;
  margin-bottom: -2.9em;
}

/* line 43, /pms/app/assets/stylesheets/simulator/work.scss */
.work-tooltip {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: .9em;
  height: .9em;
  line-height: .9em;
  font-weight: 600;
  color: #145861;
  font-size: .8em;
  margin-right: .5em;
  cursor: default;
}

/* line 59, /pms/app/assets/stylesheets/simulator/work.scss */
.work-formality img {
  width: 100%;
  height: auto;
}

/* line 65, /pms/app/assets/stylesheets/simulator/work.scss */
.work-formality__text {
  top: 2.5vw;
  font-size: 1.4vw;
  font-weight: 400;
  color: #007071;
  text-align: center;
  position: absolute;
  line-height: 1.3em;
}

/* line 75, /pms/app/assets/stylesheets/simulator/work.scss */
.work-formality__text--right {
  color: white;
  right: 0;
}

/* line 80, /pms/app/assets/stylesheets/simulator/work.scss */
.work-formality__highlight {
  font-weight: 700;
}

/* line 84, /pms/app/assets/stylesheets/simulator/work.scss */
.work-formality__highlight--kpi {
  display: block;
  font-size: 4vw;
  padding-top: .5em;
}

/* line 90, /pms/app/assets/stylesheets/simulator/work.scss */
.work-formality__row {
  margin: 3em 1em;
  position: relative;
}

/* line 1, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: inline-block;
  height: 18px;
  width: 18px;
}

/* line 10, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-twitter {
  background-image: url(/assets/social-share-button/twitter-7b64ce0117a85c5d52ed45c27707af61d9b0e0d590284baa287cfe87867b9ae1.svg);
}

/* line 14, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-facebook {
  background-image: url(/assets/social-share-button/facebook-03210e1663ee772e93ed5d344cdb36657b68342821aaebe982f2f984915990b3.svg);
}

/* line 18, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-google_bookmark {
  background-image: url(/assets/social-share-button/google_bookmark-bb4c960c0421cb7dce602d10e744692bcc1c54f323410f4965d508f96e2255ce.svg);
}

/* line 22, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-google_plus {
  background-image: url(/assets/social-share-button/google_plus-50c049fbb29cd3346f1bf9349017b644bcd00a53b56bd156728850f57bd85c0a.svg);
}

/* line 26, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-weibo {
  background-image: url(/assets/social-share-button/weibo-a345a6ca554e6f388da9eb35746bb0425cb018c16408ba82852c66d375245d6f.svg);
}

/* line 30, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-qq {
  background-image: url(/assets/social-share-button/qq-4dbae8223fc7823f6d73bc7fbe113eb894f4c174ec3ae93103ca382c78a2bf67.svg);
}

/* line 34, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-delicious {
  background-image: url(/assets/social-share-button/delicious-0c55f72f821aae5352691f13eb64bf3435573e2169d0720477ed367b2f1ed28e.svg);
}

/* line 38, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-linkedin {
  background-image: url(/assets/social-share-button/linkedin-b7fd42895b291003c444a9c2acf867ea813671e0b725a5d7c05dbb13f5c0fdd3.svg);
}

/* line 42, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-tumblr {
  background-image: url(/assets/social-share-button/tumblr-330a37f93cce7c27a750188d0bfdbed3a22f566b807e64d21131dcdc94e08ec3.svg);
}

/* line 46, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-pinterest {
  background-image: url(/assets/social-share-button/pinterest-86203d156197cce4087fee058b920d275c535df5fd59d8caa83da0ef41d1ec7f.svg);
}

/* line 50, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-douban {
  background-image: url(/assets/social-share-button/douban-46298c27e3bc6d59951c0bbc464339a5ba1b44e3b25b571874f1baacd7af2495.svg);
}

/* line 54, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-wechat {
  background-image: url(/assets/social-share-button/wechat-d8852cc3396a7a53eba39595d2e9f638c93a34ab1a0f41bae4ff391b63815f56.svg);
}

/* line 58, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-vkontakte {
  background-image: url(/assets/social-share-button/vkontakte-0c2b68277fade991d74efcbdb6f7b359a35e65156cbada9625a3fe8f73151c14.svg);
}

/* line 62, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-odnoklassniki {
  background-image: url(/assets/social-share-button/odnoklassniki-579bf782bd70fe94748254cac2c8c3dc150cceb0d2a143399e3062246b5ecb39.svg);
}

/* line 66, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-xing {
  background-image: url(/assets/social-share-button/xing-0ebccb4042c8c7220e471c4f569df2bf27da227db425525819b6848c86a1603e.svg);
}

/* line 70, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-email {
  background-image: url(/assets/social-share-button/email-7067143cbe69d9d8cf25e67fda1a315d133c2b79074a09088bd712cc5c81135d.svg);
}

/* line 74, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-reddit {
  background-image: url(/assets/social-share-button/reddit-730429c239b6990b67d0d4aaaeb6e9fe48c62267f889a412e81f5f1066ec625f.svg);
}

/* line 78, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-hacker_news {
  background-image: url(/assets/social-share-button/hacker_news-d89b13fec49355a787389a776f2e03a0a38314abf93777b8865f8c5f146eaf8d.svg);
}

/* line 82, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-telegram {
  background-image: url(/assets/social-share-button/telegram-a6b5607917f3e3efbcf35c3ed43356b05622fcfc533d2fbf5066621b78c1dbe4.svg);
}

/* line 86, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.social-share-button .ssb-whatsapp_app,
.social-share-button .ssb-whatsapp_web {
  background-image: url(/assets/social-share-button/whatsapp-766099d1a3ea095e9c8a8628e0505159b7f336b8036a8f70ad5fe60c29233959.svg);
}

/* line 91, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.ss-wechat-dialog {
  width: 300px;
  position: fixed;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  z-index: 11001;
  font-size: 14px;
  line-height: 1.2em;
}

/* line 103, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.ss-wechat-dialog .wechat-popup-header {
  font-weight: bold;
}

/* line 107, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.ss-wechat-dialog .wechat-dialog-qr {
  text-align: center;
  margin: 25px 0;
}

/* line 112, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.ss-wechat-dialog .wechat-popup-close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
  text-decoration: none;
  font-size: 16px;
}

/* line 123, /usr/local/bundle/gems/social-share-button-1.2.1/app/assets/stylesheets/social-share-button.css.erb */
.ss-wechat-dialog .wechat-popup-footer {
  text-align: left;
  line-height: 22px;
  color: #666;
}

/* line 1, /pms/app/assets/stylesheets/overrides.scss */
.form-control.is-invalid, .form-control.is-valid {
  background-image: none;
  padding-right: .75em;
  border-color: #19618a;
}

/* line 7, /pms/app/assets/stylesheets/overrides.scss */
.progress {
  border-radius: 0;
  margin: -1em 10em 0 10em;
  background-color: #ffffff;
}

/* line 13, /pms/app/assets/stylesheets/overrides.scss */
.card {
  border-radius: 0;
}

/* line 17, /pms/app/assets/stylesheets/overrides.scss */
.custom-control {
  padding-left: 0;
}

/* line 21, /pms/app/assets/stylesheets/overrides.scss */
.btn-primary {
  background-color: #f58531;
  border-color: #f58531;
  font-size: 1.3em;
  padding: 0.5rem 2.5rem;
  margin-top: .5em;
}
/* line 28, /pms/app/assets/stylesheets/overrides.scss */
.btn-primary:hover {
  background-color: #f47719;
  border-color: #f47719;
}

/* line 34, /pms/app/assets/stylesheets/overrides.scss */
.btn-default {
  background-color: #145861;
  border-color: #145861;
  font-size: 1.3em;
  padding: 0.5rem 2.5rem;
  margin-top: .5em;
  color: white;
}
/* line 42, /pms/app/assets/stylesheets/overrides.scss */
.btn-default:hover {
  background-color: #10454c;
  border-color: #10454c;
  color: white;
}

/* line 49, /pms/app/assets/stylesheets/overrides.scss */
.btn--submit {
  text-transform: uppercase;
  border-radius: 0;
}

/* line 56, /pms/app/assets/stylesheets/overrides.scss */
.custom-control-label::before, .custom-control-label::after {
  right: -1.5rem;
  left: initial;
}

/* line 62, /pms/app/assets/stylesheets/overrides.scss */
.custom-control-label--left {
  padding-left: 0 !important;
  margin-left: -10px !important;
}

/* line 67, /pms/app/assets/stylesheets/overrides.scss */
.form-check {
  position: unset;
}

/* line 74, /pms/app/assets/stylesheets/overrides.scss */
.social-share-button .ssb-icon {
  background-size: 1.7rem 1.7rem;
  height: 1.7rem;
  width: 1.7rem;
  margin: 1px;
}

@media only screen and (max-width: 992px) {
  /* line 2, /pms/app/assets/stylesheets/mobile.scss */
  .m-slider {
    margin-left: 4vw;
    flex: 0 0 91%;
    max-width: 91%;
  }

  /* line 8, /pms/app/assets/stylesheets/mobile.scss */
  .m-hidden {
    display: none;
  }

  /* line 12, /pms/app/assets/stylesheets/mobile.scss */
  canvas {
    height: 25vw !important;
    width: 25vw !important;
  }

  /* line 17, /pms/app/assets/stylesheets/mobile.scss */
  .dotted-hr {
    margin: 1.7em auto !important;
  }

  /* line 21, /pms/app/assets/stylesheets/mobile.scss */
  .benefit-sections-header {
    font-size: 2.3em !important;
    padding-left: 11px;
    padding-right: 11px;
  }

  /* line 27, /pms/app/assets/stylesheets/mobile.scss */
  .lock-image {
    width: 4em;
    height: auto !important;
  }

  /* line 32, /pms/app/assets/stylesheets/mobile.scss */
  .benefit-sections {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 36, /pms/app/assets/stylesheets/mobile.scss */
  .benefit-sections .col-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 42, /pms/app/assets/stylesheets/mobile.scss */
  .benefit-section-name {
    font-size: 2.5em !important;
  }

  /* line 46, /pms/app/assets/stylesheets/mobile.scss */
  .benefit-section-circle {
    font-size: 2em !important;
  }

  /* line 50, /pms/app/assets/stylesheets/mobile.scss */
  .map-kpi {
    font-size: 1em !important;
  }

  /* line 54, /pms/app/assets/stylesheets/mobile.scss */
  .map-label {
    font-size: 2.1vw !important;
    right: -4.5vw !important;
    width: 30vw !important;
  }

  /* line 60, /pms/app/assets/stylesheets/mobile.scss */
  .map-label--world {
    top: 10vw !important;
  }

  /* line 63, /pms/app/assets/stylesheets/mobile.scss */
  .map-label--country {
    top: 23.7vw !important;
  }

  /* line 67, /pms/app/assets/stylesheets/mobile.scss */
  .map-label--region {
    top: 38.2vw !important;
    width: 36vw !important;
  }

  /* line 72, /pms/app/assets/stylesheets/mobile.scss */
  .slider__text {
    font-size: 1.7em !important;
  }

  /* line 76, /pms/app/assets/stylesheets/mobile.scss */
  .slider__labels {
    font-size: 2vw !important;
  }
  /* line 79, /pms/app/assets/stylesheets/mobile.scss */
  .slider__labels div > div {
    position: initial;
    display: inline-block;
    width: 19%;
  }

  /* line 86, /pms/app/assets/stylesheets/mobile.scss */
  .slider__refresh {
    margin-left: 0;
  }

  /* line 90, /pms/app/assets/stylesheets/mobile.scss */
  .simulation-results__text {
    font-size: 3vw !important;
  }

  /* line 94, /pms/app/assets/stylesheets/mobile.scss */
  .education-achievement__kpi {
    top: 15vw !important;
    font-size: 4.5vw;
  }

  /* line 99, /pms/app/assets/stylesheets/mobile.scss */
  .education-achievement__text {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 104, /pms/app/assets/stylesheets/mobile.scss */
  .education-comparison__paragraph {
    font-size: 2em;
  }

  /* line 108, /pms/app/assets/stylesheets/mobile.scss */
  .education-comparison__text {
    font-size: 1.5em;
  }

  /* line 112, /pms/app/assets/stylesheets/mobile.scss */
  .work-participation__text {
    font-size: 1.8em;
  }

  /* line 116, /pms/app/assets/stylesheets/mobile.scss */
  .work-participation > .container {
    max-width: 640px;
  }

  /* line 120, /pms/app/assets/stylesheets/mobile.scss */
  .work-participation__kpi {
    margin-bottom: -16.5vw;
  }

  /* line 124, /pms/app/assets/stylesheets/mobile.scss */
  .work-formality__text {
    font-size: 2.1vw;
  }

  /* line 128, /pms/app/assets/stylesheets/mobile.scss */
  .modal-body.finish {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 450px) {
  /* line 134, /pms/app/assets/stylesheets/mobile.scss */
  .m-footer__left-col {
    margin-left: 1rem;
  }

  /* line 138, /pms/app/assets/stylesheets/mobile.scss */
  .m-footer__right-col {
    padding-left: 3rem;
  }
  /* line 141, /pms/app/assets/stylesheets/mobile.scss */
  .m-footer__right-col h5 {
    font-size: .8rem;
  }
  /* line 145, /pms/app/assets/stylesheets/mobile.scss */
  .m-footer__right-col li {
    font-size: 1.3em;
  }

  /* line 150, /pms/app/assets/stylesheets/mobile.scss */
  .references {
    font-size: 1.3em;
  }

  /* line 154, /pms/app/assets/stylesheets/mobile.scss */
  .start__age {
    width: 40%;
  }

  /* line 158, /pms/app/assets/stylesheets/mobile.scss */
  .footer-copyright {
    padding-top: .5em !important;
    padding-bottom: 1.5em !important;
    font-size: 1.3em;
  }

  /* line 164, /pms/app/assets/stylesheets/mobile.scss */
  .card-body {
    padding: .8rem;
  }
  /* line 167, /pms/app/assets/stylesheets/mobile.scss */
  .card-body .left-indent {
    padding-left: inherit;
  }

  /* line 172, /pms/app/assets/stylesheets/mobile.scss */
  input.btn--submit, button.btn--submit {
    font-size: 2em;
    margin-top: 0;
  }

  /* line 177, /pms/app/assets/stylesheets/mobile.scss */
  .progress {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 182, /pms/app/assets/stylesheets/mobile.scss */
  .question-section-header-box, .form-group {
    margin: .7rem 0 !important;
  }

  /* line 186, /pms/app/assets/stylesheets/mobile.scss */
  .question-section-header {
    font-size: 1.1rem !important;
    padding-right: 0;
    width: initial;
  }

  /* line 192, /pms/app/assets/stylesheets/mobile.scss */
  .heading-image {
    height: 45px !important;
  }

  /* line 196, /pms/app/assets/stylesheets/mobile.scss */
  .form-group {
    margin: .7rem 0 !important;
  }
  /* line 199, /pms/app/assets/stylesheets/mobile.scss */
  .form-group label, .form-group legend {
    font-size: 2em;
  }

  /* line 204, /pms/app/assets/stylesheets/mobile.scss */
  .simulator-paragraph-text {
    font-size: 1.7em !important;
  }

  /* line 208, /pms/app/assets/stylesheets/mobile.scss */
  .simulator-header-text {
    font-size: 2.5em !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  /* line 214, /pms/app/assets/stylesheets/mobile.scss */
  .life-expectancy-row {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  /* line 218, /pms/app/assets/stylesheets/mobile.scss */
  .life-expectancy-row .col-4 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  /* line 224, /pms/app/assets/stylesheets/mobile.scss */
  .life-expectancy-number {
    font-size: 2.3vw !important;
  }

  /* line 228, /pms/app/assets/stylesheets/mobile.scss */
  .health-paragraph-text-black {
    padding: 0 1.5em !important;
  }

  /* line 232, /pms/app/assets/stylesheets/mobile.scss */
  .health-images {
    margin: 2em .5em 0 !important;
  }

  /* line 236, /pms/app/assets/stylesheets/mobile.scss */
  .health-image {
    width: 60% !important;
  }

  /* line 240, /pms/app/assets/stylesheets/mobile.scss */
  .take-care-image-text {
    font-size: 1.9em !important;
  }

  /* line 244, /pms/app/assets/stylesheets/mobile.scss */
  .map-title {
    margin-top: 1em !important;
    font-size: 2.2em !important;
  }

  /* line 249, /pms/app/assets/stylesheets/mobile.scss */
  .slider__refresh {
    margin-left: 0;
    padding-top: 13px;
  }
  /* line 253, /pms/app/assets/stylesheets/mobile.scss */
  .slider__refresh img {
    width: 2.5em;
    margin-left: -5px;
  }

  /* line 259, /pms/app/assets/stylesheets/mobile.scss */
  .modal-body.finish {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 350px) {
  /* line 265, /pms/app/assets/stylesheets/mobile.scss */
  .m-footer__left-col {
    margin-left: .1rem;
  }

  /* line 269, /pms/app/assets/stylesheets/mobile.scss */
  .m-footer__right-col {
    padding-left: 4rem;
  }

  /* line 273, /pms/app/assets/stylesheets/mobile.scss */
  .slider__labels {
    font-size: 1.4em !important;
  }
}
/* General styles */
/* line 13, /pms/app/assets/stylesheets/application.scss */
body {
  font-size: 12px;
  font-family: "Lato";
}

@media screen and (max-width: 600px) {
  /* line 19, /pms/app/assets/stylesheets/application.scss */
  body {
    font-size: 6px;
  }
}
/* line 24, /pms/app/assets/stylesheets/application.scss */
label {
  font-weight: bold;
}

/* line 28, /pms/app/assets/stylesheets/application.scss */
.heading-2 {
  background-color: #888;
  font-weight: bold;
  color: #ffffff;
  padding: 1em;
}

/* line 35, /pms/app/assets/stylesheets/application.scss */
.heading-2-orange {
  padding-top: 0.5em;
  color: #f58531;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: -5px;
}

/* line 43, /pms/app/assets/stylesheets/application.scss */
.white-section {
  padding: 1em;
  background-color: #fff;
}

/* line 48, /pms/app/assets/stylesheets/application.scss */
.card-title {
  margin-top: 0.75rem;
}

/* line 52, /pms/app/assets/stylesheets/application.scss */
.orange-underline {
  color: #f58531;
  text-decoration: underline;
}

/* Utility */
/* line 58, /pms/app/assets/stylesheets/application.scss */
.hidden {
  display: none;
}

/* line 62, /pms/app/assets/stylesheets/application.scss */
.col-md-1 {
  width: 40px;
}

/* line 66, /pms/app/assets/stylesheets/application.scss */
.center {
  text-align: center;
}

/* line 70, /pms/app/assets/stylesheets/application.scss */
.text-size-xs {
  font-size: 0.7rem;
}

/* line 74, /pms/app/assets/stylesheets/application.scss */
.text-size-md {
  font-size: 1rem;
}

/* line 78, /pms/app/assets/stylesheets/application.scss */
.text-size-lg {
  font-size: 1.5rem;
}

/* line 82, /pms/app/assets/stylesheets/application.scss */
.dotted-hr {
  border-top: 3px dotted #cdcbd8;
  margin: 2.7em auto;
}

/* line 87, /pms/app/assets/stylesheets/application.scss */
.debug {
  border: 2px solid blue;
}

/* line 91, /pms/app/assets/stylesheets/application.scss */
.color-primary {
  color: #f58531;
}

/* line 95, /pms/app/assets/stylesheets/application.scss */
.background-color-primary {
  background-color: #f58531;
}

/* line 99, /pms/app/assets/stylesheets/application.scss */
.text-bold {
  font-weight: bold;
}

/* line 103, /pms/app/assets/stylesheets/application.scss */
.text-boldest {
  font-weight: 900;
}

/* line 107, /pms/app/assets/stylesheets/application.scss */
.inline {
  display: inline-block;
}

/* line 111, /pms/app/assets/stylesheets/application.scss */
.uppercase {
  text-transform: uppercase;
}

/* Input styles */
/* line 117, /pms/app/assets/stylesheets/application.scss */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  border-radius: 0;
}

/* line 124, /pms/app/assets/stylesheets/application.scss */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* line 130, /pms/app/assets/stylesheets/application.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border: 1px solid #19618a !important;
  border-radius: 0 !important;
}

/* line 141, /pms/app/assets/stylesheets/application.scss */
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
}

/* line 145, /pms/app/assets/stylesheets/application.scss */
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f58531;
  border-color: #f58531;
}

/* line 150, /pms/app/assets/stylesheets/application.scss */
.input-background-aqua:checked ~ .custom-control-label::before {
  background-color: #80d8c6;
  border-color: #80d8c6;
}

/* line 155, /pms/app/assets/stylesheets/application.scss */
.input-background-green:checked ~ .custom-control-label::before {
  background-color: #145861;
  border-color: #145861;
}

/* line 160, /pms/app/assets/stylesheets/application.scss */
.custom-control-label {
  margin-bottom: 0.5em;
  height: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
}
/* line 166, /pms/app/assets/stylesheets/application.scss */
.custom-control-label::after {
  margin-top: -0.2em;
  width: 2.2em;
  height: 2.2em;
}
/* line 171, /pms/app/assets/stylesheets/application.scss */
.custom-control-label::before {
  margin-top: -0.2em;
  width: 2.2em;
  height: 2.2em;
}

/* Questions start */
/* line 180, /pms/app/assets/stylesheets/application.scss */
.above-fold-questions-1 {
  background-color: #007273;
}

/* line 184, /pms/app/assets/stylesheets/application.scss */
.below-fold-questions-1 {
  background-color: #145861;
}

/* line 188, /pms/app/assets/stylesheets/application.scss */
.below-fold-questions-2 {
  background-color: #f58531;
}

/* line 192, /pms/app/assets/stylesheets/application.scss */
.heading-1-white {
  color: #fff;
  padding-top: 1em;
  font-size: 3.5em;
}

/* line 198, /pms/app/assets/stylesheets/application.scss */
.heading-1-black {
  color: #000;
  font-weight: 700;
  font-size: 4em;
}

/* line 204, /pms/app/assets/stylesheets/application.scss */
.heading {
  font-family: "Montserrat";
}

/* line 208, /pms/app/assets/stylesheets/application.scss */
.questions-card {
  margin: 0 5%;
}

/* line 213, /pms/app/assets/stylesheets/application.scss */
.question-section-header {
  margin-top: 1rem;
  color: #3b3b3b;
  font-size: 30px;
}

/* line 219, /pms/app/assets/stylesheets/application.scss */
.question-section-header-box {
  margin: 15px 0 20px 0;
}

/* line 223, /pms/app/assets/stylesheets/application.scss */
.left-indent {
  padding-left: 30px;
}

/* line 227, /pms/app/assets/stylesheets/application.scss */
.form-group {
  margin: 1rem 0;
}

/* Simulator sections */
/* line 233, /pms/app/assets/stylesheets/application.scss */
.simulator-header-text {
  color: #145861;
  margin-top: 1.5em;
  font-size: 2.2em;
  font-weight: 800;
}

/* line 240, /pms/app/assets/stylesheets/application.scss */
.simulator-paragraph-text {
  margin: 1em 4em 0 4em;
  font-size: 1.1em;
}

/* line 245, /pms/app/assets/stylesheets/application.scss */
.life-expectancy-section {
  margin-bottom: 20px;
}

/* line 249, /pms/app/assets/stylesheets/application.scss */
.life-expectancy-row {
  padding-right: 4em;
  padding-left: 4em;
  margin-bottom: 1em;
}
/* line 254, /pms/app/assets/stylesheets/application.scss */
.life-expectancy-row img {
  width: 100%;
  height: auto;
}

/* line 260, /pms/app/assets/stylesheets/application.scss */
.life-expectancy-number-input {
  position: absolute;
  top: 77%;
  right: 0;
  left: 0;
  width: 40%;
  margin: 0 auto;
  z-index: 1;
}
/* line 269, /pms/app/assets/stylesheets/application.scss */
.life-expectancy-number-input .life-expectancy-number {
  margin-bottom: 0;
  padding: 0.3em;
  font-size: 1.3vw;
  font-weight: 900;
}

/* line 277, /pms/app/assets/stylesheets/application.scss */
.take-care {
  font-size: 3em;
  font-weight: 700;
  color: #f58531;
  padding-top: .7em;
}

/* line 284, /pms/app/assets/stylesheets/application.scss */
.take-care-text-highlight {
  color: #145861;
  font-weight: 600;
}

/* line 289, /pms/app/assets/stylesheets/application.scss */
.take-care-image-text {
  font-size: 1em;
  margin-top: 0.5em;
}

/* line 294, /pms/app/assets/stylesheets/application.scss */
.health-image {
  width: 45%;
}

/* line 298, /pms/app/assets/stylesheets/application.scss */
.health-images {
  padding-top: 1.5em;
}

/* line 302, /pms/app/assets/stylesheets/application.scss */
.formalidad-paragraph-text {
  font-size: 2rem;
  padding-right: 5%;
  padding-left: 2rem;
  color: #007071;
}

/* line 309, /pms/app/assets/stylesheets/application.scss */
.map-title {
  color: #007071;
  font-size: 1.9em;
  font-weight: 700;
  margin-top: 1.5em;
}

/* line 316, /pms/app/assets/stylesheets/application.scss */
.map {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 321, /pms/app/assets/stylesheets/application.scss */
.map > img {
  width: 100%;
  margin-bottom: 3em;
}

/* line 327, /pms/app/assets/stylesheets/application.scss */
.map-label {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 1.2vw;
  font-weight: 700;
  right: 0;
  margin: 0 auto;
  margin-right: 1em;
  width: 23%;
  text-align: right;
  display: flex;
}

/* line 341, /pms/app/assets/stylesheets/application.scss */
.map-text {
  padding-top: .7em;
  padding-right: .3em;
  flex: 0 0 52%;
}

/* line 347, /pms/app/assets/stylesheets/application.scss */
.map-label--world {
  top: 6.6vw;
}

/* line 351, /pms/app/assets/stylesheets/application.scss */
.map-label--country {
  top: 15.9vw;
}

/* line 355, /pms/app/assets/stylesheets/application.scss */
.map-label--region {
  color: #145861;
  top: 25.8vw;
  width: 27.3%;
}
/* line 360, /pms/app/assets/stylesheets/application.scss */
.map-label--region > .map-text {
  padding-top: 0;
  flex: 0 0 60%;
}

/* line 366, /pms/app/assets/stylesheets/application.scss */
.map-kpi {
  color: black;
  background-color: white;
  font-size: 1.4vw;
  margin-left: 0.5em;
  padding: 0.5em;
}

/* line 374, /pms/app/assets/stylesheets/application.scss */
.grad-image {
  width: 124px;
}

/* line 378, /pms/app/assets/stylesheets/application.scss */
.background-teal {
  background-color: #7ecdc0;
}

/* line 382, /pms/app/assets/stylesheets/application.scss */
.background-orange {
  background-color: #f58531;
}

/* line 386, /pms/app/assets/stylesheets/application.scss */
.background-dark-green {
  background-color: #145861;
}

/* line 390, /pms/app/assets/stylesheets/application.scss */
.body-main {
  box-shadow: 0 5px 35px 0 black;
  z-index: 1;
}

/* line 395, /pms/app/assets/stylesheets/application.scss */
.school-achievement-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 401, /pms/app/assets/stylesheets/application.scss */
.school-achievement-dollar {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 1.1rem;
}

/* line 408, /pms/app/assets/stylesheets/application.scss */
.life-expectancy-text {
  color: #007071;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 414, /pms/app/assets/stylesheets/application.scss */
.white-box {
  background-color: #fff;
  margin: 1rem;
}

/* line 419, /pms/app/assets/stylesheets/application.scss */
.kpi-icon {
  padding-top: 0.2rem;
  height: 4.5em;
  width: auto;
}

/* line 425, /pms/app/assets/stylesheets/application.scss */
.simulation-results {
  display: table;
}

/* line 429, /pms/app/assets/stylesheets/application.scss */
.simulation-results__col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 1.5em 0.5em;
}

/* line 436, /pms/app/assets/stylesheets/application.scss */
.simulation-results__col--1 {
  width: 25%;
}

/* line 440, /pms/app/assets/stylesheets/application.scss */
.simulation-results__col--2 {
  width: 70%;
}

/* line 444, /pms/app/assets/stylesheets/application.scss */
.simulation-results__col--3 {
  width: 5%;
  text-align: right;
}

/* line 449, /pms/app/assets/stylesheets/application.scss */
.simulation-results__text {
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: 600;
}

/* line 455, /pms/app/assets/stylesheets/application.scss */
.simulation-results__text--green {
  color: #145861;
}

/* line 459, /pms/app/assets/stylesheets/application.scss */
.simulation-results__text--white {
  color: white;
}

/* line 463, /pms/app/assets/stylesheets/application.scss */
.simulation-results__text--small {
  font-size: 1vw;
}

/* line 467, /pms/app/assets/stylesheets/application.scss */
.simulation-results__kpi {
  display: flex;
  font-size: 2.5em;
  font-weight: 800;
  padding: 0.2em 0.7em;
  background-color: white;
}

/* line 475, /pms/app/assets/stylesheets/application.scss */
.work-simulation-results {
  padding-top: 2rem;
}

/* line 479, /pms/app/assets/stylesheets/application.scss */
.wellbeing-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 485, /pms/app/assets/stylesheets/application.scss */
.simulator-header-section {
  background-color: #7ecdc0;
  padding: 1.5em 0;
}
/* line 489, /pms/app/assets/stylesheets/application.scss */
.simulator-header-section .simulator-header-text {
  margin: 0;
}

/* line 494, /pms/app/assets/stylesheets/application.scss */
.simulator-header-section-dark {
  background-color: #145861;
  padding: 1.5em 0;
}
/* line 498, /pms/app/assets/stylesheets/application.scss */
.simulator-header-section-dark .simulator-header-text {
  margin: 0;
  color: white;
}

/* line 504, /pms/app/assets/stylesheets/application.scss */
.simulator-header-section-orange {
  background-color: #f58531;
  padding: 1.5em 0;
}
/* line 508, /pms/app/assets/stylesheets/application.scss */
.simulator-header-section-orange .simulator-header-text {
  margin: 0;
  color: white;
}

/* line 514, /pms/app/assets/stylesheets/application.scss */
.simulator-header-section-primary {
  background-color: #f58531;
  padding: 2rem 0;
}
/* line 518, /pms/app/assets/stylesheets/application.scss */
.simulator-header-section-primary .simulator-header-text {
  margin-top: 0;
  color: #fff;
}

/* Benefit sections */
/* line 526, /pms/app/assets/stylesheets/application.scss */
.benefit-sections {
  padding-top: 2em;
  padding-bottom: 4em;
  text-align: center;
}

/* line 532, /pms/app/assets/stylesheets/application.scss */
.benefit-section-circle {
  background: #cccccc;
  border-radius: 2.8em;
  -moz-border-radius: 2.8em;
  -webkit-border-radius: 2.8em;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 2.7em;
  width: 2.7em;
  height: 2.7em;
  font-size: 1.5em;
}

/* line 546, /pms/app/assets/stylesheets/application.scss */
.circle-aqua {
  background-color: #80d8c6;
  color: #145861;
}

/* line 551, /pms/app/assets/stylesheets/application.scss */
.circle-green {
  background-color: #145861;
  color: #FFF;
}

/* line 556, /pms/app/assets/stylesheets/application.scss */
.circle-orange {
  background-color: #f58531;
  color: #FFF;
}

/* line 561, /pms/app/assets/stylesheets/application.scss */
.benefit-sections-header {
  margin-bottom: 2em;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 25px;
}

/* line 568, /pms/app/assets/stylesheets/application.scss */
.benefit-section-name {
  display: block;
  text-align: center;
  font-size: 1.3em;
  margin: 0.5em;
  color: #1a646b;
  font-weight: bold;
}

/* line 577, /pms/app/assets/stylesheets/application.scss */
.benefit-section-divider {
  border-top: 2px solid #cdcbd8;
  margin: 1.9em -3em;
}

/* Health Section*/
/* line 584, /pms/app/assets/stylesheets/application.scss */
.health-paragraph-text-black {
  padding: 0 4em;
  margin-top: 1em;
  margin-bottom: 0;
  color: black;
}

/* line 591, /pms/app/assets/stylesheets/application.scss */
.health-paragraph-text {
  color: #007071;
}

/* Footer */
/* line 597, /pms/app/assets/stylesheets/application.scss */
.page-footer {
  background-color: #005962;
  color: #fff;
}

/* line 602, /pms/app/assets/stylesheets/application.scss */
.footer-copyright,
.footer-copyright a {
  color: #5a8c91;
}

/* line 607, /pms/app/assets/stylesheets/application.scss */
.brand {
  margin-bottom: 0;
  line-height: 1em;
  margin-top: 0.5em;
}

/* line 613, /pms/app/assets/stylesheets/application.scss */
.brand-name {
  font-weight: bold;
}

/* line 617, /pms/app/assets/stylesheets/application.scss */
.footer-share-buttons {
  text-align: center;
  margin-top: 1rem;
  width: 163px;
}

/* Section specific */
/* line 625, /pms/app/assets/stylesheets/application.scss */
.educational-achievements {
  text-align: justify;
}
/* line 627, /pms/app/assets/stylesheets/application.scss */
.educational-achievements:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 634, /pms/app/assets/stylesheets/application.scss */
.educational-achievement {
  display: inline-block;
  width: 30%;
}
/* line 637, /pms/app/assets/stylesheets/application.scss */
.educational-achievement:nth-child(1) {
  margin-left: 15%;
}
/* line 640, /pms/app/assets/stylesheets/application.scss */
.educational-achievement:nth-child(2) {
  margin-right: 15%;
}

/* line 645, /pms/app/assets/stylesheets/application.scss */
.market-probability-self {
  display: inline-block;
  width: 25%;
  margin-left: 5%;
}

/* line 651, /pms/app/assets/stylesheets/application.scss */
.market-probability-parents {
  display: inline-block;
  width: 55%;
  margin-right: 5%;
}

/* line 657, /pms/app/assets/stylesheets/application.scss */
.market-probabilities {
  text-align: justify;
}
/* line 659, /pms/app/assets/stylesheets/application.scss */
.market-probabilities:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 666, /pms/app/assets/stylesheets/application.scss */
.formality-self {
  display: inline-block;
  width: 25%;
  margin-left: 5%;
}

/* line 672, /pms/app/assets/stylesheets/application.scss */
.formality-parents {
  display: inline-block;
  width: 55%;
  margin-right: 5%;
}

/* line 678, /pms/app/assets/stylesheets/application.scss */
.formality-paragraph-one {
  margin-top: 30px;
}

/* line 682, /pms/app/assets/stylesheets/application.scss */
.formality-paragraph-two {
  margin-top: 30px;
  margin-left: 32%;
}

/* line 687, /pms/app/assets/stylesheets/application.scss */
.formality-paragraph-green {
  padding-left: 20px;
  color: #145861;
  font-size: 1rem;
}

/* line 693, /pms/app/assets/stylesheets/application.scss */
.formality-paragraph-white {
  padding-left: 20px;
  color: #FFF;
  font-size: 1rem;
}

/* line 699, /pms/app/assets/stylesheets/application.scss */
.formality-paragraph-white-bold {
  color: fff;
  font-size: 1.6rem;
}

/* line 704, /pms/app/assets/stylesheets/application.scss */
.formality-paragraph-white-num {
  color: fff;
  font-size: 3.5rem;
}

/* line 709, /pms/app/assets/stylesheets/application.scss */
.formality-paragraph-green-bold {
  color: #145861;
  font-size: 1.6rem;
}

/* line 714, /pms/app/assets/stylesheets/application.scss */
.formality-paragraph-green-num {
  color: #145861;
  font-size: 3.5rem;
}

/* line 719, /pms/app/assets/stylesheets/application.scss */
.market-probabilities {
  text-align: justify;
}
/* line 721, /pms/app/assets/stylesheets/application.scss */
.market-probabilities:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 728, /pms/app/assets/stylesheets/application.scss */
.header-image {
  width: 100%;
}

/* line 732, /pms/app/assets/stylesheets/application.scss */
.percentage-multiple {
  margin-top: 3.5rem;
}

/* line 736, /pms/app/assets/stylesheets/application.scss */
.work-marker-image {
  height: 19rem;
  margin-bottom: 1rem;
}

/* line 741, /pms/app/assets/stylesheets/application.scss */
.work-marker-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* line 748, /pms/app/assets/stylesheets/application.scss */
.low-work-status {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ff0000;
}

/* line 754, /pms/app/assets/stylesheets/application.scss */
.high-work-status {
  font-size: 1.4rem;
  font-weight: bold;
  color: #00d56b;
}

/* line 760, /pms/app/assets/stylesheets/application.scss */
.work-status-box {
  border: 1px solid #007071;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 767, /pms/app/assets/stylesheets/application.scss */
.heading-image {
  height: 70px;
}

/* line 771, /pms/app/assets/stylesheets/application.scss */
.lock-image {
  height: 40px;
}
