<section class="benefit-sections">
  <h3 class="benefit-sections-header center">Conoce los beneficios de la movilidad social para tu:</h3>

  <div class="benefit-section">
    <span class="benefit-section-circle">1</span>
    <%= link_to simulator_start_path do %>
      <span class="benefit-section-name">Salud</span>
    <% end %>
  </div>

  <span class="benefit-section-divider">–––––––</span>

  <div class="benefit-section">
    <span class="benefit-section-circle">2</span>
    <%= link_to simulator_part_2_path do %>
      <span class="benefit-section-name">Educación</span>
    <% end %>
  </div>

  <span class="benefit-section-divider">–––––––</span>

  <div class="benefit-section">
    <span class="benefit-section-circle">3</span>
    <%= link_to simulator_part_3_path do %>
      <span class="benefit-section-name">Trabajo</span>
    <% end %>
  </div>

</section>
