<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center ">
    <div class="row justify-content-center">

      <div class="col-md-3">
        <a href="https://ceey.org.mx/" target="blank">
          <%= image_tag "logo.png", style: "height: 50px", id: "footer-logo" %>
        </a>
        <p class="mt-4">
          El <b>CEEY</b> es una asociación civil sin fines de lucro y apartidista.
          Nuestra misión es generar conocimiento especializado, transformarlo
          y difundirlo para impulsar políticas y acciones que favorezcan la movilidad social.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <ul class="list-unstyled mt-4">
          <li>
            <b>¿Cómo se realizó el Simulador de Movilidad Social?</b>
          </li>
          <li class="mt-4">Salud</li>
          <li>Educación</li>
          <li>Trabajo</li>
          <li>Carreras</li>
        </ul>
      </div>
      <div class="col-md-2 text-right">
        <div class="footer-share-buttons">
          <%= render "shared/social_share_buttons" %>
          <ul class="list-unstyled mt-4">
            <li>
              <b>Contacto</b>
            </li>
            <li>
              Abasolo 152, Del Carmen, Coyoacán
            </li>
            <li>
              C.P. 04100. Ciudad de México
            </li>
            <li>
              +52 (55) 56608031 / 56608051
            </li>
            <li>
              contacto@ceey.org.mx
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <%= link_to "Aviso de Privacidad", "https://ceey.org.mx/pie-de-pagina/aviso-de-privacidad/" %>
    ©CEEY @2019
  </div>
</footer>
