<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center ">

    <% if params[:action] == "home" %>
      <div class="row justify-content-center">
        <div class="col-sm-5">
          <div class="video__container">
            <iframe src="https://www.youtube.com/embed/9J4wRVrF2cQ"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="video__container">
            <iframe
                src="https://www.youtube.com/embed/Y9TJCrVCDgo"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <a href="https://ceey.org.mx/" target="_blank">
          <%= image_tag "logo.png", style: "height: 50px", id: "footer-logo" %>
        </a>
        <p class="mt-4 text-left">
        El <a class="footer-link" href="https://ceey.org.mx/" target="_blank"><b>CEEY</b></a>
        es una asociación civil sin fines de lucro y apartidista. Nuestra misión es generar
        conocimiento especializado, transformarlo y difundirlo para impulsar acciones que
        favorezcan la movilidad social.
        </p>
      </div>
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mt-4 text-left ml-md-5">
          <li><b>Acerca del Simulador</b></li>
          <li class="mt-4">
            <a class="footer-link" href="https://ceey.org.mx/destino-saludable-en-origen-saludable/" target="_blank">
              Salud
            </a>
          </li>
          <li>
            <a class="footer-link" href="https://ceey.org.mx/la-oportunidad-de-educarse-y-la-educacion-como-oportunidad/" target="_blank">
              Educación
            </a>
          </li>
          <li>
            <a class="footer-link" href="https://ceey.org.mx/todos-tenemos-el-derecho-a-trabajar-pero-hay-las-mismas-oportunidades-de-hacerlo-en-condiciones-que-promuevan-nuestra-movilidad-social/" target="_blank">
              Trabajo
            </a>
          </li>
          <li>
            <a class="footer-link" href="https://ceey.org.mx/que-tipos-de-movilidad-social-en-mexico-medimos/" target="_blank">
              Tipos de movilidad social
            </a>
          </li>
          <li>
            <a class="footer-link" href="https://ceey.org.mx/encuestas-esru-emovi-movilidad-social-en-mexico/" target="_blank">
              Encuesta ESRU-EMOVI
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-right">
        <p class="mt-2 text-left text-md-right"><b>¡Compártelo!</b></p>
        <div class="footer-share-buttons mt-n2">
          <%= render "shared/social_share_buttons" %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <%= link_to "Aviso de Privacidad", "https://ceey.org.mx/pie-de-pagina/aviso-de-privacidad/" %>
    ©CEEY @2019
  </div>
</footer>
