<section class="footer" style="background-color: #666">
  <%= image_tag "https://via.placeholder.com/50?text=logo" %>
  <p>Centro de Estudios®</p>
  <p>Espinosa Yglesias</p>

  <p class="uppercase">Contacto</p>
  <p>Abasolo 152, Del Carmen, Coyoacán,</p>
  <p>C.P. 04100. Ciudad de México</p>
  <p>Teléfonos: +52 (55) 56625447 / 56622370 / 56608031 / 56608051</p>
  <p>Email: contacto@ceey.org.mx / bolsatrabajo@ceey.org.mx</p>

  <%= link_to "Aviso de Privacidad", "#", class: "privacy-policy-link" %>
  <p>©CEEY @2019</p>
</section>
