<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">

      <div class="offset-md-1 col-md-1 mt-md-0 mt-4">
        <%= image_tag "logo.png", style: "height: 50px" %>
      </div>

      <div class="offset-4 col-md-5 mb-md-0 mb-3">
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled">
          <li>
            <p>Abasolo 152, Del Carmen, Coyoacán</p>
          </li>
          <li>
            <p>C.P. 04100. Ciudad de México</p>
          </li>
          <li>
            <p>Teléfonos: +52 (55) 56625447 / 56622370 / 56608031 / 56608051</p>
          </li>
          <li>
            <p>Email: contacto@ceey.org.mx / bolsatrabajo@ceey.org.mx</p>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <%= link_to "Aviso de Privacidad", "#" %>
    <p>©CEEY @2019</p>
  </div>

</footer>
