.highlight {
  font-weight: 700;
  color: $primary;
}

.print {
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: white;
  text-align: center;
}

.start-over {
  padding-bottom: 3em;
  text-align: center;
}
