.highlight {
  font-weight: 700;
  color: $primary;
}

.finish-button {
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: white;
  text-align: center;
}

.start-over {
  padding-bottom: 3em;
  text-align: center;
}

.references {
  padding: 1em 0;
  font-size: 1em;
  font-weight: 400;
  color: black;
  background-color: $light-gray;
  text-align: center;
  line-height: 1.3em;
}
