.slider {
  img {
    margin-top: 1em;
    max-width: 100%;
    max-height: 100%;
  }
}

.slider__refresh {
  margin-bottom: -35px;
  margin-left: 1.5em;

  img {
    width: 1.5em;
    height: auto;
    cursor: pointer;
  }
}

.slider__text {
  margin-top: 2em;
  margin-bottom: -.7em;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}

.slider__labels {
  text-align: left;
  font-weight: bold;
  font-size: 1vw;
  margin-bottom: 25px;
}

.slider__labels-pos1 {
  padding-left: 4.7%;
}

.slider__labels-pos2 {
  padding-left: 4.7%;
}

.slider__labels-pos3 {
  text-align: center;
  padding-left: 3%;
}

.slider__labels-pos4 {
  text-align: right;
  padding-right: 2.7%;
}

.slider__labels-pos5 {
  text-align: right;
  padding-right: 4.7%;
}

.slider__track {
  padding: 20px 0;
}

.slider__section {
  height: 12px;
  padding: 0;
  background-color: $gray;
  cursor: pointer;
}

.slider__section--left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider__section--right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slider__section--disabled {
  cursor: default;
  background-color: $primary;
}

.slider__section--selected {
  background-color: $primary;
}

.slider__thumb {
  position: absolute;
  right: -1px;
  height: 24px;
  background-color: $primary;
  width: 24px;
  margin-top: -6px;
  border-radius: 50%;
  z-index: 1;
}

.slider__thumb--left {
  left: 0;
}
