/*
 *= require_tree .
 *= require_self
 */

/* Colors */
$primary: #FF7D00;
$dark-gray: #007071;
$teal: #7ECDC0;

/* Utility */
.center {
  text-align: center;
}

.text-size-md {
  font-size: 1rem;
}

.text-size-lg {
  font-size: 1.5rem;
}

.dotted-hr {
  border-top: 3px dotted $dark-gray;
  width: 62%;
  margin: 2rem auto;
}

.debug {
  border: 2px solid blue;
}

.color-primary {
  color: $primary;
}

.background-color-primary {
  background-color: $primary;
}

.text-bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
}

/* General styles */
body {
  font-size: 0.75rem;
}

label {
  font-weight: bold;
}

figure {
  text-align: center;
}

figcaption {
  font-weight: bold;
  font-size: 0.9rem;
}

.heading-2 {
  background-color: #888;
  font-weight: bold;
  color: #ffffff;
  padding: 1em;
}

.heading-2-orange {
  padding-top: 0.5em;
  color: $primary;
  font-size: 3rem;
}

.white-section {
  padding: 1em;
  background-color: #fff;
}

.card-title {
  margin-top: 0.75rem;
}

.orange-underline {
  color: $primary;
  text-decoration: underline;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  padding: 0.5rem 2.5rem;
  font-size: 1.3rem;
  &:hover {
    background-color: darken($primary, 5%);
    border-color: darken($primary, 5%);
  }
}

/* Input styles */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  border: 2px solid #19618A !important;
  border-radius: 0 !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary;
  border-color: $primary;
}

.custom-control-label {
  margin-bottom: 0.5rem;
  height: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  &::after {
    margin-top: -0.2rem;
    width: 2rem;
    height: 2rem;
  }

  &::before {
    margin-top: -0.2rem;
    width: 2rem;
    height: 2rem;
  }
}

/* Input 'range' styles */
input[type=range] {
  -webkit-appearance: none;
  margin: 25px 122px 45px;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: #cdcbd5;
  border-radius: 15px;
}

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background: $primary;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}


input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: $primary;
  border-radius: 15px;
}

input[type=range]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background: $primary;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $primary;
  border-radius: 15px;
}
input[type=range]::-ms-fill-upper {
  background: #cdcbd5;
  border-radius: 15px;
}

input[type=range]::-ms-thumb {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background: $primary;
  cursor: pointer;
}

/* Questions start */
.above-fold-questions-1 {
  background-color: #007273;
}

.below-fold-questions-1 {
  background-color: #145861;
}

.heading-1-white {
  color: #FFF;
  padding-top: 1em;
  font-size: 3.5em;
}

.heading-1-black {
  color: #000;
  font-weight: bold;
  font-size: 4rem;
}

.questions-card {
  margin: 0 5%;
}

.question-section-header {
  margin-top: 1rem;
  color: #3B3B3B;
  font-weight: bold;
}

.integer {
  display: block !important;
}

.form-group {
  margin: 1rem 0;
}

.questions-submit-button {
  border-radius: 0;
  margin-top: 1rem;
}

/* Simulator sections */

.print-section {
  height: 150px;
  background-color: #FFF;
}

.print-button {
  margin-top: 55px;
}

.simulator-header-text {
  color: #006C6F;
  margin-top: 2rem;
  font-size: 2.5rem;
}

.simulator-paragraph-text {
  margin-top: 1rem;
}

.simulator-header-section {
  background-color: $teal;
  padding: 2rem 0;
  .simulator-header-text {
    margin-top: 0;
  }
}

.life-expectancy-section {
  margin-bottom: 3rem;
}

.life-expectancy-image {
  height: 350px;
  margin: 0 auto;
}

.life-expectancy-number-input {
  border: solid 1px black;
  position: absolute;
  top: 17.2rem;
  left: 6.8rem;
  width: 10rem;
  .life-expectancy-number {
    margin-bottom: 0;
    padding: 0.5rem 0;
  }
}

.map-image {
  width: 80%;
}

.map-paragraph-text {
  padding-right: 30%;
  padding-left: 2rem;
  color: $dark-gray;
}

.map-colored-row {
  background-color: #F3F8F9;
  &:last-child {
    padding-bottom: 1rem;
  }
}

.map-header-section {
}

.grad-image {
  width: 124px;
}

.background-teal {
  background-color: $teal;
}

.background-orange {
  background-color: $primary;
}

.life-expectancy-text {
  color: $dark-gray;
  font-size: 1.2rem;
  font-weight: bold;
}

.white-box {
  background-color: #FFF;
  margin: 1rem;
}

.life-expectancy-number-text {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.3rem 0;
}

.health-icon {
  padding-top: 0.2rem;
  height: 50px;
}

.simulation-results {
  padding-top: 1.5rem;
}

.wellbeing-text {
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Benefit sections */
.benefit-sections {
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.benefit-section-circle {
  background: #cccccc;
  border-radius: 2.8em;
  -moz-border-radius: 2.8em;
  -webkit-border-radius: 2.8em;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
}

.benefit-sections-header {
  margin-bottom: 2em;
  color: #007072;
}

.benefit-section-name {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 0.3rem;
  color: #1A646B;
}

.benefit-section-divider {
  font-size: 2rem;
  color: #3B3B3BBF;
}

/* Footer */
.page-footer {
  background-color: #005962;
  color: #FFF;
}

.footer-copyright, .footer-copyright a {
  color: #5A8C91;
}

.brand {
  margin-bottom: 0;
  line-height: 1em;
  margin-top: 0.5em;
}

.brand-name {
  font-weight: bold;
}

/* Section specific */
.educational-achievements {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.educational-achievement {
  display: inline-block;
  width: 30%;
  &:nth-child(1) {
    margin-left: 15%;
  }
  &:nth-child(2) {
    margin-right: 15%;
  }
}

.market-probability-self {
  display: inline-block;
  width: 25%;
  margin-left: 5%;
}

.market-probability-parents {
  display: inline-block;
  width: 55%;
  margin-right: 5%;
}

.market-probabilities {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.formality-self {
  display: inline-block;
  width: 25%;
  margin-left: 5%;
}

.formality-parents {
  display: inline-block;
  width: 55%;
  margin-right: 5%;
}

.market-probabilities {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.header-image {
  width: 100%;
}

.section-youtube-embed {
  text-align: center;
  height: 30em;
  background-color: #FFF;
}

.know-more {
  margin-top: 1.5em;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}

.section-start-questions {
  text-align: center;
  height: 23em;
  background-color: $primary;
}

.perspectives {
  font-size: 3em;
  font-weight: bold;
  color: #FFF;
  padding-top: 2em;
}

.start-questions-button {
  background-color: #FFF;
  border-radius: 22px;
  margin-top: 1.5em;
  font-size: 2em;
  font-weight: bold;
  color: $primary;
  padding: 0.4em 2em;
  &:hover {
    color: darken($primary, 5%);
  }
}
