/*
 *= require_tree .
 *= require_self
 */

/* Colors */
$primary: #FF7D00;

/* Utility */
.center {
  text-align: center;
}

.debug {
  border: 2px solid blue;
}

.color-primary {
  color: $primary;
}

.background-color-primary {
  background-color: $primary;
}

.text-bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
}

/* General styles */
body {
  font-size: 0.75rem;
}

label {
  font-weight: bold;
}

.heading-2 {
  background-color: #888;
  font-weight: bold;
  color: #ffffff;
  padding: 1em;
}

.heading-2-orange {
  background-color: orange;
  font-weight: bold;
  color: #ffffff;
  padding: 1.5em;
}

.white-section {
  padding: 1em;
  background-color: #fff;
}

.card-title {
  margin-top: 0.75rem;
}

/* Input styles */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  border: 2px solid #19618A !important;
  border-radius: 0 !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary;
  border-color: $primary;
}

.custom-control-label {
  margin-bottom: 0.5rem;
  height: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  &::after {
    margin-top: -0.2rem;
    width: 2rem;
    height: 2rem;
  }

  &::before {
    margin-top: -0.2rem;
    width: 2rem;
    height: 2rem;
  }
}

/* Questions start */
.above-fold-questions-1 {
  background-color: #007273;
}

.below-fold-questions-1 {
  background-color: #145861;
}

.heading-1-white {
  color: #FFF;
  padding-top: 1em;
  font-size: 3.5em;
}

.heading-1-black {
  color: #000;
  font-weight: bold;
  font-size: 3.5em;
  padding-bottom: 1em;
}

.questions-card {
  margin: 0 5%;
}

.question-section-header {
  margin-top: 1rem;
  color: #3B3B3B;
  font-weight: bold;
}

.integer {
  display: block !important;
}

.form-group {
  margin: 1rem 0;
}

.questions-submit-button {
  background-color: $primary;
  border-radius: 0;
  border-color: $primary;
  margin-top: 1rem;
  &:hover {
    background-color: darken($primary, 5%);
    border-color: $primary;
  }
}

/* Benefit sections */
.benefit-sections {
  height: 14em;
  text-align: center;
  background-color: #ddd;
}

.benefit-section {
  display: inline-block;
  width: 6em;
}

.benefit-section-circle {
  background: #cccccc;
  border-radius: 1.8em;
  -moz-border-radius: 1.8em;
  -webkit-border-radius: 1.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  line-height: 2.6em;
  width: 2.6em;
}

.benefit-sections-header {
  margin-bottom: 2em;
}

.benefit-section-name {
  display: block;
  text-align: center;
}

/* Footer */
.page-footer {
  background-color: #005962;
  color: #FFF;
}

.footer-copyright, .footer-copyright a {
  color: #5A8C91;
}

.brand {
  margin-bottom: 0;
  line-height: 1em;
  margin-top: 0.5em;
}

.brand-name {
  font-weight: bold;
}

/* Section specific */
.educational-achievements {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.educational-achievement {
  display: inline-block;
  width: 30%;
  &:nth-child(1) {
    margin-left: 15%;
  }
  &:nth-child(2) {
    margin-right: 15%;
  }
}

.market-probability-self {
  display: inline-block;
  width: 25%;
  margin-left: 5%;
}

.market-probability-parents {
  display: inline-block;
  width: 55%;
  margin-right: 5%;
}

.market-probabilities {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.formality-self {
  display: inline-block;
  width: 25%;
  margin-left: 5%;
}

.formality-parents {
  display: inline-block;
  width: 55%;
  margin-right: 5%;
}

.market-probabilities {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.header-image {
  width: 100%;
}

.section-youtube-embed {
  text-align: center;
  height: 30em;
  background-color: #FFF;
}

.know-more {
  margin-top: 1.5em;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}

.section-start-questions {
  text-align: center;
  height: 23em;
  background-color: $primary;
}

.perspectives {
  font-size: 3em;
  font-weight: bold;
  color: #FFF;
  padding-top: 2em;
}

.start-questions-button {
  background-color: #FFF;
  border-radius: 22px;
  margin-top: 1.5em;
  font-size: 2em;
  font-weight: bold;
  color: $primary;
  padding: 0.4em 2em;
  &:hover {
    color: darken($primary, 5%);
  }
}
