.home {
  position: relative;
}

.start {
  padding: 5em 0;
  text-align: center;
  background-color: $primary;
}

.start__title {
  font-size: 3em;
  font-weight: 600;
  color: white;
}

.start__button {
  background-color: white;
  border-radius: 15px;
  margin-top: 1.5em;
  font-size: 2em;
  font-weight: 800;
  color: $primary;
  padding: 0.4em 2em;

  &:hover {
    color: darken($primary, 5%);
  }
}
